body {
  background-color: #e8f9fd;
  font-size: 1rem;
  margin: 0;
}

@media screen and (min-width: 900px) {
  body {
    background-color: #e8f9fd;
    font-size: 1.2rem;
    margin: 0;
  }
}

h1 {
  color: #2b6d88;
  font-size: 2.4rem;
}

section {
  width: 100%;
  margin: auto;
}

h2 {
  color: #2b6d88;
  font-size: 1.5rem;
  text-align: center;
}

hr {
  border: dotted #addae4 10px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

table {
  margin: 0 auto;
  text-align: left;
}

th {
  padding: 0;
}

td {
  padding: 0 20px 0 0;
}

ul {
  margin: 0 auto;
  width: 250px;
}

li,
p,
td {
  line-height: 2;
}

footer {
  display: flexbox;
  text-align: center;
  background-color: #064c68;
  padding: 50px 0 20px;
  margin-top: 100px;
}

.h1 {
  text-align: center;
}

.profile {
  width: 350px;
  margin: 0 auto;
  text-align: left;
}

@media screen and (min-width: 900px) {
  .profile {
    width: 1000px;
    margin: 0 auto;
    text-align: left;
  }
}

.profile-pic {
  width: 16rem;
  float: left;
  margin: 0 50px;
  padding: 0;
}

.intro-link {
  color: #2b6d88;
  text-decoration: none;
  font-weight: bolder;
}

.intro-link:hover {
  color: #6bcaf0;
}

.work {
  margin: 0 auto;
}

.skills {
  width: 100%;
}

.stars {
  color: #2b6d88;
}

.footer-link {
  color: #ffffff;
  font-family: "poppins";
  padding: 2%;
  text-decoration: none;
  font-family: "poppins";
}

.footer-link:hover {
  color: #addae4;
}

.copyright {
  color: #addae4;
  font-size: 0.85rem;
  margin: 20px;
  font-family: "poppins";
}
