body {
  background-color: #e8f9fd;
  font-size: 1.2rem;
  margin: 0;
}

h1 {
  color: #0aa1dd;
  font-size: 2rem;
}

section {
  padding: 2%;
}

h2 {
  color: #0aa1dd;
  font-size: 1.5rem;
  text-align: center;
}

table {
  margin: 0 auto;
}

ul {
  margin-left: 40%;
}

footer {
  display: flexbox;
  text-align: center;
  background-color: #0aa1dd;
  padding: 50px 0 20px;
  margin-top: 100px;
}

.h1 {
  text-align: center;
}

.dots {
  width: 3%;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
}

.profile {
  width: 90%;
}

.skills {
  font-size: 0.85em;
}

.footer-link {
  color: #0b4d68;
  font-family: "poppins";
  padding: 2%;
  text-decoration: none;
  font-family: "poppins";
  font-size: 1.2rem;
}

.footer-link:hover {
  color: #addae4;
}

.copyright {
  color: #addae4;
  font-size: 0.85rem;
  margin: 20px;
  font-family: "poppins";
}
