body {
  margin: 0;
  text-align: center;
  font-family: "poppins";
  font-size: 1em;
}

@media screen and (min-width: 600px) {
  body {
    margin: 0;
    text-align: center;
    font-family: "poppins";
    font-size: 1.1em;
  }
}

@media screen and (min-width: 1000px) {
  body {
    margin: 0;
    text-align: center;
    font-family: "poppins";
    font-size: 1.2em;
  }
}

h1 {
  font-family: "sacramento";
  font-size: 5rem;
  font-weight: bolder;
  color: #2b6d88;
  margin-bottom: 15px;
}

@media screen and (min-width: 600px) {
  h1 {
    font-family: "sacramento";
    font-size: 5.5rem;
    color: #2b6d88;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1000px) {
  h1 {
    font-family: "sacramento";
    font-size: 6rem;
    color: #2b6d88;
    margin-bottom: 15px;
  }
}

h2 {
  font-family: "sacramento";
  font-size: 3.5rem;
  font-weight: bolder;
  margin: 0;
  color: #2b6d88;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: 10px;
  color: #2b6d88;
}

p {
  margin: 0;
  line-height: 2;
}

hr {
  border: dotted #addae4 10px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
  background-color: #ffffff00;
  opacity: 1;
  box-sizing: content-box;
}

a {
  color: #ffffff;
  font-family: "poppins";
  padding: 2%;
  text-decoration: none;
}

a:hover {
  color: #addae4;
}

.nav-item {
  width: 150px;
}

.navbar-light .navbar-nav .nav-link {
  color: #2b6d88;
  font-family: "poppins";
  font-weight: bolder;
  text-align: left;
  opacity: 1;
  padding-left: 10px;
}

.intro {
  margin: 0;
  font-size: 1.3rem;
  color: #2b6d88;
  font-family: "Poppins";
}
  
@media screen and (min-width: 600px) {
    .intro {
      margin: 0;
      font-size: 1.4rem;
      color: #2b6d88;
      font-family: "Poppins";
    }
  }

@media screen and (min-width: 1000px) {
  .intro {
    margin: 0;
    font-size: 1.5rem;
    color: #2b6d88;
    font-family: "Poppins";
  }
}

.nav-container {
  padding-right: 20px;
  background-color: #e8f9fd;
  border-bottom: dotted #c8e8f0 10px;
}


.top-container {
  background-image: url("../images/flowers.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e8f9fd;
  padding: 120px 0 170px 0;
  width: 100%;
  box-sizing: content-box;
}

@media screen and (min-width: 600px) {
.top-container {
  background-image: url("../images/flowers.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e8f9fd;
  padding: 250px 0 300px 0;
  width: 100%;
  box-sizing: content-box;
}
}

.profile {
  margin: 30px auto 50px;
}

.profile-pic {
  width: 12rem;
  margin: 30px auto;
  border-radius: 50%;
}

.profile-h2 {
  margin-bottom: 20px;
}

.skill-row {
  width: 360px;
  padding: 0 10px;
  margin: 60px auto 100px auto;
  text-align: left;
}

@media screen and (min-width: 600px) {
  .skill-row {
    width: 580px;
    margin: 60px auto 100px auto;
    text-align: left;
  }
}

@media screen and (min-width: 1000px) {
  .skill-row {
    width: 980px;
    margin: 60px auto 100px auto;
    text-align: left;
  }
}

.educator {
  width: 11rem;
  float: left;
  margin-right: 20px;
  padding: 0;
}

.innovator {
  width: 11rem;
  float: right;
  margin-left: 20px;
  padding: 0;
}

.contact-me, .portfolio {
  width: 380px;
  padding: 0 10px;
  margin: auto;
}

@media screen and (min-width: 600px) {
  .contact-me, .portfolio {
    width: 580px;
    margin: auto;
  }
}

@media screen and (min-width: 1000px) {
  .contact-me, .portfolio {
    width: 980px;
    margin: auto;
  }
}

.contact-h3 {
  margin: 40px auto 20px;
  padding: 0;
}

.contact-p, .portfolio-p {
  margin: 20px auto 60px;
}

.btn {
  background: #55c3eb;
  background-image: -webkit-linear-gradient(top, #55c3eb, #249dc9);
  background-image: -moz-linear-gradient(top, #55c3eb, #249dc9);
  background-image: -ms-linear-gradient(top, #55c3eb, #249dc9);
  background-image: -o-linear-gradient(top, #55c3eb, #249dc9);
  background-image: linear-gradient(to bottom, #55c3eb, #249dc9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "poppins";
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #0aa1dd;
  background-image: -webkit-linear-gradient(top, #addae4, #1a7ca3);
  background-image: -moz-linear-gradient(top, #addae4, #1a7ca3);
  background-image: -ms-linear-gradient(top, #addae4, #1a7ca3);
  background-image: -o-linear-gradient(top, #addae4, #1a7ca3);
  background-image: linear-gradient(to bottom, #addae4, #1a7ca3);
  color: #ffffff;
  text-decoration: none;
}

.portfolio-h3 {
  padding-top: 100px;
}

.portfolio-span {
  font-style: italic;
  color: #2b6d88;
}

  .portfolio-img {
    width: 380px;
  }

@media screen and (min-width: 600px) {
  .portfolio-img {
    width: 580px;
  }
}

@media screen and (min-width: 1000px) {
  .portfolio-img {
    width: 700px;
  }
}

.portfolio-btn {
  border: 10px;

}

.bottom-container {
  display: flexbox;
  background-color: #064c68;
  padding: 50px 0 20px;
  margin-top: 100px;
}

#copyright, .copyright{
  color: #addae4;
  font-size: 0.85rem;
  margin: 20px 0;
}
