body {
  margin: 0;
  text-align: center;
  font-family: "poppins";
  font-size: 1.2em;
}

h1 {
  margin-top: 50px;
  margin-bottom: 0;
  font-family: "sacramento";
  font-size: 5rem;
  color: #0aa1dd;
}

h2 {
  font-family: "sacramento";
  font-size: 3.5rem;
  margin: 0;
  color: #0aa1dd;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: 10px;
  color: #0aa1dd;
}

p {
  margin: 0;
  line-height: 2;
}

hr {
  border: dotted #addae4 10px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #0b4d68;
  font-family: "poppins";
  padding: 2%;
  text-decoration: none;
}

a:hover {
  color: #addae4;
}

.intro {
  margin: 0;
  font-size: 1.3em;
  color: #0aa1dd;
}

.top-container {
  background-color: #e8f9fd;
  position: relative;
  padding-top: 100px;
  width: 100%;
}

.edu,
.inno {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 20%;
  top: 3rem;
}

.bottom-cloud {
  position: absolute;
  left: 21%;
  bottom: 13rem;
}

.mountain {
  width: 26rem;
}

.profile {
  margin: 30px auto 50px;
}

.profile-pic {
  width: 11rem;
  margin: 30px auto;
}

.profile-h2 {
  margin-bottom: 20px;
}

.skill-row {
  width: 50%;
  margin: 60px auto 100px auto;
  text-align: left;
}

.educator {
  width: 11rem;
  float: left;
  margin-right: 20px;
  padding: 0;
}

.innovator {
  width: 11rem;
  float: right;
  margin-left: 20px;
  padding: 0;
}

.contact-me {
  width: 50%;
  margin: auto;
}

.contact-h3 {
  margin: 40px auto 20px;
  padding: 0;
}

.contact-p {
  margin: 20px auto 60px;
}

.btn {
  background: #0aa1dd;
  background-image: -webkit-linear-gradient(top, #0aa1dd, #1a7ca3);
  background-image: -moz-linear-gradient(top, #0aa1dd, #1a7ca3);
  background-image: -ms-linear-gradient(top, #0aa1dd, #1a7ca3);
  background-image: -o-linear-gradient(top, #0aa1dd, #1a7ca3);
  background-image: linear-gradient(to bottom, #0aa1dd, #1a7ca3);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "poppins";
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #55c3eb;
  background-image: -webkit-linear-gradient(top, #55c3eb, #249dc9);
  background-image: -moz-linear-gradient(top, #55c3eb, #249dc9);
  background-image: -ms-linear-gradient(top, #55c3eb, #249dc9);
  background-image: -o-linear-gradient(top, #55c3eb, #249dc9);
  background-image: linear-gradient(to bottom, #55c3eb, #249dc9);
  color: #ffffff;
  text-decoration: none;
}

.bottom-container {
  display: flexbox;
  background-color: #0aa1dd;
  padding: 50px 0 20px;
  margin-top: 100px;
}

.copyright {
  color: #addae4;
  font-size: 0.85rem;
  margin: 20px;
}
