body {
  margin: 0;
  text-align: center;
  font-family: "poppins";
  font-size: 1.5em;
}

h1 {
  margin-top: 50px;
  margin-bottom: 0;
  font-family: "sacramento";
  font-size: 6rem;
  color: #0aa1dd;
}

h2 {
  font-family: "sacramento";
  font-size: 4rem;
  margin: 0;
  color: #0aa1dd;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0.2rem;
  color: #2155cd;
}

.intro {
  margin: 0;
  font-size: 1.5em;
  color: #0aa1dd;
}

.top-container {
  background-color: #e8f9fd;
  position: relative;
  padding-top: 100px;
  width: 100%;
}

.edu,
.inno {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 20%;
  top: 3rem;
}

.bottom-cloud {
  position: absolute;
  left: 21%;
  bottom: 13rem;
}

.mountain {
  width: 26rem;
}

.educator {
  width: 13rem;
}

.innovator {
  width: 13rem;
}

p {
  margin: 0;
}

img {
  padding-top: 3%;
  padding-bottom: 0.5%;
}

.bottom-container {
  display: flexbox;
}

a {
  color: #2155cd;
}
